{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/style.css" />
{% endblock %}

{% block body %}
	<nav class="navbar home">
		<a class="logo" href="{{ path('LogInHomePage') }}"><img src="../assets/logo.png"></a>
		<!--Check access to Back-Office-->
		{% if user.getIsAdmin() == true %}
			<a class="main-link" href="{{ path('AdminPage') }}">BACK-OFFICE</a>
		{% endif %}

		<!--Check number of Ballots in order to summon-->
		{% if user.getBallotsNumber() >= 200 %}
			<a class="main-link" href="{{ path('SummonPage') }}">SUMMON</a>
		{% endif %}
        <a class="main-link" href="{{ path('CollectionPage') }}">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>{{ user.getSurname() }} {{ user.getFirstname() }}</strong><br>
                {{ user.getRank() }} | {{ user.getBallotsNumber() }} BV
            </p>
        </div>
	</nav>

	<section class="container-admin-privilege">
        <form action="{{ path('GrantUserMethod') }}" method="POST">
            <select name="userToGrant" class="choose-user" id="users">
                {% for user in users %}
                    <option value="{{ user.getId() }}">{{ user.getFirstname() }} {{ user.getSurname() }}</option>
                    <td></td>
                {% endfor %}
            </select>
            <input type="submit" value="GRANT"/>
        </form>
	</section>
    <footer>
		<a href="{{ path('LogOutPage') }}">Log out</a>
	</footer>
{% endblock %}